
.custom-card :hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.custom-card :hover > * {
    box-shadow: none;
    font-weight: 700;
    color: rgb(45, 174, 248);
}