ul {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
}
ul > li {
    background-color: #d6d6d6;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}